@import 'tailwindcss';

@theme {
	--color-teal-green: #135e4b;
	--color-off-white: #f5f5f5;
	--color-light-gray: #e0e0e0;
	--color-coral: #ff6b6b;
	--color-coral-light: #ff8585;
	--color-coral-dark: #da5c5c;
	--color-dark-gray: #2c2c2c;
}

.page-link {
	@apply hover:text-teal-green border-b-2 border-transparent text-sm font-medium md:text-base lg:text-lg;
}

.active-page-link {
	@apply border-teal-green border-b-2 border-dashed;
}

.page-intro-section {
	@apply bg-teal-green text-off-white flex p-4 md:p-8 lg:p-12;
}

.hero-section {
	@apply flex-col items-center justify-center;
}

.page-main-section {
	@apply text-dark-gray flex p-12 md:p-24;
}

.home-summary {
	@apply flex-wrap items-center justify-center gap-8 text-base md:gap-12 md:text-lg lg:gap-24 lg:text-xl;
}

.link-btn {
	@apply bg-coral text-dark-gray hover:bg-coral-light active:bg-coral-dark rounded-md px-8 py-2 text-sm md:text-base lg:text-lg;
}

@layer base {
	#root {
		@apply size-full;
	}

	html,
	body {
		@apply size-full;
	}

	body {
		@apply bg-off-white;
	}

	h1 {
		@apply p-2 text-xl md:text-2xl lg:text-3xl;
	}
}
